<!DOCTYPE html>
<html>
<head>
</head>
<style>
* {
  box-sizing: border-box;
}

.top{
   border: 10px rgb(43, 62, 228);
   padding: 30 px;
   margin: 5px;
   background-color: rgb(43, 62, 228);
}

@media (min-width: 1024px){
  .topright{
    display: flex;
  }
}

.container{
  max-width: 1014px;
}

.flag{
  padding: .5%;
}

.three{
  display: flex;
}

.one1{
  border: 10px rgb(228, 225, 43);
  padding: 30 px;
  margin: 5px;
  background-color: rgb(228, 225, 43);
}

.two2{
  border: 10px rgb(228, 225, 43);
  padding: 30 px;
  margin: 5px;
  background-color: rgb(228, 225, 43);
}

.three3{
  border: 10px rgb(228, 225, 43);
  padding: 30 px;
  margin: 5px;
  background-color: rgb(228, 225, 43);
}

.bottom{
  display: flex;
}

.bottom1{
  border: 10px rgb(228, 12, 12);
  padding: 30 px;
  margin: 5px;
  background-color: rgb(228, 12, 12);
}

.bottom2{
  border: 10px rgb(228, 12, 12);
  padding: 30 px;
  margin: 5px;
  background-color: rgb(228, 12, 12);
}

.bottom3{
  border: 10px rgb(228, 12, 12);
  padding: 30 px;
  margin: 5px;
  background-color: rgb(228, 12, 12);
}
.bottom4{
  border: 10px rgb(228, 12, 12);
  padding: 30 px;
  margin: 5px;
  background-color: rgb(228, 12, 12);
}

</style>
</html>
